{% load static %}

<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2048 <a href="#">Fools souls</a></p>
          
          <p>Design: <a title="CSS Templates" rel="sponsored" href="https://templatemo.com/page/1" target="_blank">
            TemplateMo</a> Distribution: <a title="CSS Templatesss" rel="sponsored" href="https://themewagon.com" target="_blank">
              ThemeWagon</a></p>
        </div>
      </div>
    </div>
  </footer>