{% load static %}

<div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="header-text">
            <p><h2>Where <em>fool souls</em><br>Share their <em>experienses</em></h2>
            <p>FoolSouls is a website where paria shirdel used a free template to created a darksouls based blog where darksouls or other fromsoftware game character add their experiences and post.</p>
            <div class="buttons">
              <div class="big-border-button">
                <a href="contests.html">See Blogs</a>
              </div>
              <div class="icon-button">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>